## Intsalling requirements and creating spark session

In [ ]:
!pip install pyspark

In [454]:
!pip install haversine

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: haversine in ./.local/lib/python3.8/site-packages (2.8.0)

In [393]:
from pyspark import SparkContext, SparkConf
cf = SparkConf()
cf.set("spark.submit.deployMode", "client")
sc = SparkContext.getOrCreate(cf)

In [394]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("temp").config("spark.some.config.option", "some-value").getOrCreate()

In [395]:
cf

In [396]:
sc

# Question 1

In [5]:
df1 = spark.read.csv('BreadBasket_DMS.csv', header=True)

In [6]:
df1.show()

+----------+--------+-----------+-------------+
|      Date|    Time|Transaction|         Item|
+----------+--------+-----------+-------------+
|2016-10-30|09:58:11|          1|        Bread|
|2016-10-30|10:05:34|          2| Scandinavian|
|2016-10-30|10:05:34|          2| Scandinavian|
|2016-10-30|10:07:57|          3|Hot chocolate|
|2016-10-30|10:07:57|          3|          Jam|
|2016-10-30|10:07:57|          3|      Cookies|
|2016-10-30|10:08:41|          4|       Muffin|
|2016-10-30|10:13:03|          5|       Coffee|
|2016-10-30|10:13:03|          5|       Pastry|
|2016-10-30|10:13:03|          5|        Bread|
|2016-10-30|10:16:55|          6|    Medialuna|
|2016-10-30|10:16:55|          6|       Pastry|
|2016-10-30|10:16:55|          6|       Muffin|
|2016-10-30|10:19:12|          7|    Medialuna|
|2016-10-30|10:19:12|          7|       Pastry|
|2016-10-30|10:19:12|          7|       Coffee|
|2016-10-30|10:19:12|          7|          Tea|
|2016-10-30|10:20:51|          8|       Pastry|
|2016-10-30|10:20:51|          8|        Bread|
|2016-10-30|10:21:59|          9|        Bread|
+----------+--------+-----------+-------------+
only showing top 20 rows

In [7]:
# time greater than equal to 9AM and less than 11PM
from datetime import datetime, timedelta
from dateutil.parser import parse
time_var_1 = parse('9:00 AM')
time_var_2 = parse('11:00 PM')
df1 = df1.filter((df1.Time >= time_var_1) & (df1.Time < time_var_2))
df1.createOrReplaceTempView("items")

In [8]:
df3 = spark.sql("SELECT Count(Item), Item FROM items GROUP BY Item ORDER BY Count(Item) DESC")

### Answer to Question 1

In [9]:
df3.show(5) #top 5 items

+-----------+------+
|count(Item)|  Item|
+-----------+------+
|       5259|Coffee|
|       3151| Bread|
|       1414|   Tea|
|       1017|  Cake|
|        797|Pastry|
+-----------+------+
only showing top 5 rows

# Question 2

In [141]:
rdf = df1 = spark.read.options(delimiter=';').csv('Restaurants_in_Durham_County_NC.csv', header=True)

In [142]:
rdf

DataFrame[ID: string, Premise_Name: string, Premise_Address1: string, Premise_Address2: string, Premise_City: string, Premise_State: string, Premise_Zip: string, Premise_Phone: string, Hours_Of_Operation: string, Opening_Date: string, Closing_Date: string, Seats: string, Water: string, Sewage: string, Insp_Freq: string, Est_Group_Desc: string, Risk: string, Smoking_Allowed: string, Type_Description: string, Rpt_Area_Desc: string, Status: string, Transitional_Type_Desc: string, geolocation: string]

In [143]:
rdf.select("Rpt_Area_Desc").show(10)

+----------------+
|   Rpt_Area_Desc|
+----------------+
|    Food Service|
|    Food Service|
|    Food Service|
|    Food Service|
|Residential Care|
|Residential Care|
|        Day Care|
|  Swimming Pools|
|  Swimming Pools|
|  Swimming Pools|
+----------------+
only showing top 10 rows

In [144]:
rdf.createOrReplaceTempView("entities")
rdf2 = spark.sql("SELECT Count(ID), Rpt_Area_Desc FROM entities GROUP BY Rpt_Area_Desc")

### Answer to Question 2

In [145]:
rdf2.show()

+---------+--------------------+
|count(ID)|       Rpt_Area_Desc|
+---------+--------------------+
|        4|  Bed&Breakfast Home|
|        4|        Summer Camps|
|       30|        Institutions|
|        2|   Local Confinement|
|      147|         Mobile Food|
|       89|    School Buildings|
|       13|                null|
|      242|         Summer Food|
|      420|      Swimming Pools|
|      173|            Day Care|
|       32|Tattoo Establishm...|
|      154|    Residential Care|
|        2|   Bed&Breakfast Inn|
|        5|      Adult Day Care|
|       62|             Lodging|
|     1093|        Food Service|
+---------+--------------------+

## Question 3

In [64]:
pdf = spark.read.csv('populationbycountry19802010millions.csv', header=True)

In [65]:
pdf.show(5)

+-------------+---------+---------+---------+---------+---------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|          _c0|     1980|     1981|     1982|     1983|     1984|     1985|     1986|     1987|    1988|     1989|    1990|     1991|     1992|     1993|    1994|     1995|    1996|     1997|     1998|     1999|    2000|     2001|     2002|     2003|     2004|     2005|     2006|     2007|     2008|     2009|     2010|
+-------------+---------+---------+---------+---------+---------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|North America|320.27638|324.44694|328.62014|332.72487|336.72143|340.74811|344.89548|349.07829|353.2939|357.68457|362.4468|367.70684|373.29069|378.74233|383.9166|388.97216|393.9428|398.97205|403.85585|408.60296|413.3245|417.83236|422.05268|426.06238|430.26938|434.47232|438.82964| 443.3473|447.67394|451.83698|456.59331|
|      Bermuda|  0.05473|  0.05491|  0.05517|  0.05551|  0.05585|  0.05618|  0.05651|  0.05683| 0.05717|  0.05749| 0.05778|   0.0581|   0.0587|  0.05924| 0.05975|  0.06029| 0.06087|  0.06145|  0.06198|  0.06251| 0.06306|  0.06361|  0.06418|  0.06476|  0.06534|  0.06591|  0.06644|  0.06692|  0.06739|  0.06784|  0.06827|
|       Canada|  24.5933|     24.9|  25.2019|  25.4563|  25.7018|  25.9416|  26.2038|  26.5497| 26.8948|  27.3793| 27.7906|  28.1179| 28.54489| 28.95334|29.33081| 29.69053|30.02632|  30.3056| 30.55166| 30.82026|31.09956| 31.37674| 31.64096| 31.88931| 32.13476| 32.38638| 32.65668| 32.93596|  33.2127| 33.48721| 33.75974|
|    Greenland|  0.05021|  0.05103|  0.05166|  0.05211|  0.05263|  0.05315|  0.05364|   0.0541| 0.05485|  0.05541| 0.05563|  0.05554|  0.05549|  0.05564| 0.05592|  0.05619| 0.05634|  0.05651|  0.05661|   0.0567| 0.05689|  0.05713|  0.05736|  0.05754|   0.0577|  0.05778|  0.05764|  0.05753|  0.05756|   0.0576|  0.05764|
|       Mexico| 68.34748| 69.96926|  71.6409| 73.36288| 75.08014| 76.76723| 78.44243| 80.12249|81.78182| 83.36684|84.91365| 86.48803| 88.11103| 89.74914| 91.3379| 92.88035|94.39858| 95.89515| 97.32506| 98.61691|99.92662|101.24696|102.47993|103.71806|104.95959| 106.2029|107.44953|108.70089| 109.9554|111.21179|112.46886|
+-------------+---------+---------+---------+---------+---------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 5 rows

In [66]:
from pyspark.sql.functions import col, round, max, min
df_percent_change = pdf.select("_c0", *[round((((col(year) - col(str(int(year)-1))) / col(str(int(year)-1))) * 100), 2).alias(year) for year in df.columns[2:]])

# Stacking the columns to get the year and percent change in separate rows
columns_expr = [f"`{year}`, {year}" for year in df_percent_change.columns[1:]]
columns_str = ", ".join(columns_expr)
df_percent_change = df_percent_change.selectExpr(f"stack(31, {columns_str}) as (PercentChange, Year)", "_c0 as Country")

# Getting the country with the maximum population change for each year
df_max_percent_change = df_percent_change.groupBy("Year").agg(max("PercentChange").alias("MaxPercentChange"))
df_max_percent_change = df_max_percent_change.join(df_percent_change, (df_max_percent_change.Year == df_percent_change.Year) & (df_max_percent_change.MaxPercentChange == col("PercentChange")), "inner").select("Country", df_max_percent_change.Year, df_max_percent_change.MaxPercentChange)

# Getting the country with the minimum population change for each year
df_min_percent_change = df_percent_change.groupBy("Year").agg(min("PercentChange").alias("MinPercentChange"))
df_min_percent_change = df_min_percent_change.join(df_percent_change, (df_min_percent_change.Year == df_percent_change.Year) & (df_min_percent_change.MinPercentChange == col("PercentChange")), "inner").select("Country", df_min_percent_change.Year, df_min_percent_change.MinPercentChange)

In [67]:
df_max_percent_change.orderBy('Year').show(31)

+--------------------+----+----------------+
|             Country|Year|MaxPercentChange|
+--------------------+----+----------------+
|      Western Sahara|1981|           12.13|
|      Western Sahara|1982|           11.12|
|       French Guiana|1983|           14.29|
|        Saint Helena|1984|           10.96|
|               Qatar|1984|           10.96|
|       French Guiana|1985|            12.5|
|               Qatar|1986|            8.77|
|       French Guiana|1987|           11.11|
|      Cayman Islands|1988|           11.01|
|United Arab Emirates|1989|            6.12|
|            Djibouti|1990|           12.82|
|              Jordan|1991|           11.27|
|              Kuwait|1992|           48.63|
|         Afghanistan|1993|           13.22|
|         Afghanistan|1994|            8.73|
|             Burundi|1995|            7.22|
|              Rwanda|1996|           19.61|
|Falkland Islands ...|1997|            21.5|
|             Liberia|1998|           12.02|
|Falkland Islands ...|1999|            7.69|
|          Montserrat|2000|           16.86|
|          Montserrat|2001|            7.34|
|          Montserrat|2002|           13.44|
|         Afghanistan|2003|             5.8|
|          Montserrat|2004|           10.47|
|             Liberia|2005|             4.8|
|              Jordan|2006|            7.09|
|              Jordan|2007|            6.76|
|          Montserrat|2008|           12.64|
|             Liberia|2009|            4.16|
|               Niger|2010|            3.74|
+--------------------+----+----------------+

In [68]:
df_min_percent_change.orderBy('Year').show(31)

+--------------------+----+----------------+
|             Country|Year|MinPercentChange|
+--------------------+----+----------------+
|         Afghanistan|1981|           -9.11|
|         Afghanistan|1982|           -8.02|
| Antigua and Barbuda|1983|           -3.51|
| Antigua and Barbuda|1984|           -1.75|
|        Cook Islands|1985|           -1.41|
|Netherlands Antilles|1986|          -24.59|
|        Saint Helena|1987|           -21.3|
|          Mozambique|1988|           -2.88|
|             Somalia|1989|            -2.2|
|             Liberia|1990|          -12.82|
|              Kuwait|1991|          -55.45|
|             Somalia|1992|           -5.39|
|Bosnia and Herzeg...|1993|           -7.07|
|              Rwanda|1994|          -14.36|
|              Rwanda|1995|          -15.87|
|          Montserrat|1996|          -22.59|
|          Montserrat|1997|          -25.16|
|          Montserrat|1998|          -43.19|
|        Cook Islands|1999|           -2.99|
|        Cook Islands|2000|           -3.26|
|        Cook Islands|2001|           -3.56|
|        Cook Islands|2002|           -3.69|
|          Montserrat|2003|           -6.65|
|            Djibouti|2004|           -4.83|
|          Montserrat|2005|           -8.67|
|               Nauru|2006|            -4.4|
|               Nauru|2007|            -4.7|
|        Cook Islands|2008|           -3.31|
|        Cook Islands|2009|           -3.26|
|        Cook Islands|2010|            -3.2|
+--------------------+----+----------------+

In [73]:
df_max_percent_change = df_max_percent_change.withColumnRenamed("Country", "Max Country")
df_max_percent_change = df_max_percent_change.withColumnRenamed("MaxPercentChange", "Max Percentage Change (%)")

In [74]:
df_min_percent_change = df_min_percent_change.withColumnRenamed("Country", "Min Country")
df_min_percent_change = df_min_percent_change.withColumnRenamed("MinPercentChange", "Min Percentage Change (%)")

In [75]:
df_combined = df_max_percent_change.join(
    df_min_percent_change.select('Min Country', 'Min Percentage Change (%)', 'Year'),
    on='Year'
)

### Answer to Question 3

In [76]:
df_combined.orderBy('Year').show(31,truncate=False)

+----+---------------------------------+-------------------------+----------------------+-------------------------+
|Year|Max Country                      |Max Percentage Change (%)|Min Country           |Min Percentage Change (%)|
+----+---------------------------------+-------------------------+----------------------+-------------------------+
|1981|Western Sahara                   |12.13                    |Afghanistan           |-9.11                    |
|1982|Western Sahara                   |11.12                    |Afghanistan           |-8.02                    |
|1983|French Guiana                    |14.29                    |Antigua and Barbuda   |-3.51                    |
|1984|Qatar                            |10.96                    |Antigua and Barbuda   |-1.75                    |
|1984|Saint Helena                     |10.96                    |Antigua and Barbuda   |-1.75                    |
|1985|French Guiana                    |12.5                     |Cook Islands          |-1.41                    |
|1986|Qatar                            |8.77                     |Netherlands Antilles  |-24.59                   |
|1987|French Guiana                    |11.11                    |Saint Helena          |-21.3                    |
|1988|Cayman Islands                   |11.01                    |Mozambique            |-2.88                    |
|1989|United Arab Emirates             |6.12                     |Somalia               |-2.2                     |
|1990|Djibouti                         |12.82                    |Liberia               |-12.82                   |
|1991|Jordan                           |11.27                    |Kuwait                |-55.45                   |
|1992|Kuwait                           |48.63                    |Somalia               |-5.39                    |
|1993|Afghanistan                      |13.22                    |Bosnia and Herzegovina|-7.07                    |
|1994|Afghanistan                      |8.73                     |Rwanda                |-14.36                   |
|1995|Burundi                          |7.22                     |Rwanda                |-15.87                   |
|1996|Rwanda                           |19.61                    |Montserrat            |-22.59                   |
|1997|Falkland Islands (Islas Malvinas)|21.5                     |Montserrat            |-25.16                   |
|1998|Liberia                          |12.02                    |Montserrat            |-43.19                   |
|1999|Falkland Islands (Islas Malvinas)|7.69                     |Cook Islands          |-2.99                    |
|2000|Montserrat                       |16.86                    |Cook Islands          |-3.26                    |
|2001|Montserrat                       |7.34                     |Cook Islands          |-3.56                    |
|2002|Montserrat                       |13.44                    |Cook Islands          |-3.69                    |
|2003|Afghanistan                      |5.8                      |Montserrat            |-6.65                    |
|2004|Montserrat                       |10.47                    |Djibouti              |-4.83                    |
|2005|Liberia                          |4.8                      |Montserrat            |-8.67                    |
|2006|Jordan                           |7.09                     |Nauru                 |-4.4                     |
|2007|Jordan                           |6.76                     |Nauru                 |-4.7                     |
|2008|Montserrat                       |12.64                    |Cook Islands          |-3.31                    |
|2009|Liberia                          |4.16                     |Cook Islands          |-3.26                    |
|2010|Niger                            |3.74                     |Cook Islands          |-3.2                     |
+----+---------------------------------+-------------------------+----------------------+-------------------------+

## Question 4

In [83]:
text_file = spark.read.text("romeo-juliet-pg1777.txt")

In [95]:
clean_text = text_file.select(lower(regexp_replace("value", "[^0-9a-zA-Z\\s]", "")).alias("text"))

In [96]:
clean_text.show(truncate=False)

+-----------------------------------------------------------------+
|text                                                             |
+-----------------------------------------------------------------+
|                                                                 |
|this etext file is presented by project gutenberg in             |
|cooperation with world library inc from their library of the     |
|future and shakespeare cdroms  project gutenberg often releases  |
|etexts that are not placed in the public domain                  |
|                                                                 |
|this etext has certain copyright implications you should read    |
|                                                                 |
|this electronic version of the complete works of william         |
|shakespeare is copyright 19901993 by world library inc and is    |
|provided by project gutenberg with permission  electronic and    |
|machine readable copies may be distributed so long as such copies|
|1 are for your or others personal use only and 2 are not         |
|distributed or used commercially  prohibited commercial          |
|distribution includes by any service that charges for download   |
|time or for membership                                           |
|                                                                 |
|project gutenberg is proud to cooperate with the world library   |
|in the presentation of the complete works of william shakespeare |
|for your reading for education and entertainment  however this   |
+-----------------------------------------------------------------+
only showing top 20 rows

In [126]:
words = clean_text.select(explode(split("text", "\\s+")).alias("word"))

In [127]:
words = words.filter(words.word != '') #removing blanks

In [128]:
words.show()

+-----------+
|       word|
+-----------+
|       this|
|      etext|
|       file|
|         is|
|  presented|
|         by|
|    project|
|  gutenberg|
|         in|
|cooperation|
|       with|
|      world|
|    library|
|        inc|
|       from|
|      their|
|    library|
|         of|
|        the|
|     future|
+-----------+
only showing top 20 rows

In [129]:
word_counts = words.groupBy("word").agg(count("*").alias("count")).orderBy("count", ascending=False)

### Answer to Question 4

In [130]:
word_counts.show(truncate=False) #dataframe countains count of all words

+----+-----+
|word|count|
+----+-----+
|and |773  |
|the |748  |
|i   |585  |
|to  |580  |
|a   |483  |
|of  |474  |
|is  |383  |
|that|365  |
|my  |360  |
|in  |328  |
|you |323  |
|thou|277  |
|not |275  |
|with|268  |
|for |267  |
|me  |265  |
|this|258  |
|it  |237  |
|be  |234  |
|but |186  |
+----+-----+
only showing top 20 rows

In [132]:
word_counts.count()

4065

## Question 5

In [743]:
foreclosures = spark.read.json('durham-nc-foreclosure-2006-2016.json')

In [744]:
foreclosures.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+
|           datasetid|              fields|            geometry|    record_timestamp|            recordid|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|foreclosure-2006-...|{217 E CORPORATIO...|{[-78.8922549, 36...|2017-03-06T12:41:...|629979c85b1cc68c1...|
|foreclosure-2006-...|{401 N QUEEN ST, ...|{[-78.895396, 35....|2017-03-06T12:41:...|e3cce8bbc3c9b804c...|
|foreclosure-2006-...|{403 N QUEEN ST, ...|{[-78.8950321, 35...|2017-03-06T12:41:...|311559ebfeffe7ebc...|
|foreclosure-2006-...|{918 GILBERT ST, ...|{[-78.8873774, 35...|2017-03-06T12:41:...|7ec0761bd385bab8a...|
|foreclosure-2006-...|{721 LIBERTY ST, ...|{[-78.888343, 35....|2017-03-06T12:41:...|c81ae2921ffca8125...|
|foreclosure-2006-...|{729 HOPKINS ST, ...|{[-78.888092, 35....|2017-03-06T12:41:...|ae17ea44c5918fd2d...|
|foreclosure-2006-...|{1302 E MAIN ST, ...|{[-78.886681, 35....|2017-03-06T12:41:...|33bcfab5aa69ed55e...|
|foreclosure-2006-...|{402 CLAY ST, [35...|{[-78.8806365, 35...|2017-03-06T12:41:...|0322e07438201c6cf...|
|foreclosure-2006-...|{1516 LATHROP ST,...|{[-78.874621, 35....|2017-03-06T12:41:...|f88a039e24c4182df...|
|foreclosure-2006-...|{2604 E MAIN ST, ...|{[-78.869642, 35....|2017-03-06T12:41:...|54b29375c19aff597...|
|foreclosure-2006-...|{209 NELSON ST, [...|{[-78.9041979, 35...|2017-03-06T12:41:...|1644733ddb6c7f3b1...|
|foreclosure-2006-...|{2721 ATLANTIC ST...|{[-78.9060606, 35...|2017-03-06T12:41:...|97d53f9a363445bd3...|
|foreclosure-2006-...|{518 RED OAK AVE,...|{[-78.903483, 35....|2017-03-06T12:41:...|64e85ba0cbf6272c1...|
|foreclosure-2006-...|{ROXBORO ST, [36....|{[-78.8960511, 36...|2017-03-06T12:41:...|be817e36d57bd79b5...|
|foreclosure-2006-...|{1420 WABASH ST, ...|{[-78.890249, 35....|2017-03-06T12:41:...|65d1396789609f295...|
|foreclosure-2006-...|{500 POTTER ST, [...|{[-78.889404, 35....|2017-03-06T12:41:...|e4a0a58d755c8a9eb...|
|foreclosure-2006-...|{2820 ANGIER AVE,...|{[-78.8692657, 35...|2017-03-06T12:41:...|a778f7cda928028c8...|
|foreclosure-2006-...|{2822 ANGIER AVE,...|{[-78.868701, 35....|2017-03-06T12:41:...|aad612d17ffbddb4e...|
|foreclosure-2006-...|{515 BACON ST, [3...|{[-78.882454, 35....|2017-03-06T12:41:...|e4c35ab6d0af22b85...|
|foreclosure-2006-...|{418 SOWELL ST, [...|{[-78.8873413, 35...|2017-03-06T12:41:...|65606f3b8531c5e7a...|
+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [745]:
restaurants = rdf.filter((rdf.Rpt_Area_Desc == 'Food Service') & (rdf.Status=='ACTIVE'))

In [746]:
restaurants_2 = restaurants.select("ID", "Premise_Name", "geolocation")
restaurants_2.show(5, truncate=False)

+-----+------------------------+-----------------------+
|ID   |Premise_Name            |geolocation            |
+-----+------------------------+-----------------------+
|56060|WEST 94TH ST PUB        |35.9207272, -78.9573299|
|58123|BROOKDALE DURHAM IFS    |36.0467802, -78.8895483|
|70266|SMOOTHIE KING           |35.9182655, -78.9593263|
|97837|HAMPTON INN & SUITES    |36.0183378, -78.9060312|
|58349|KROGER R 381 MEAT MARKET|35.9495321, -78.9211694|
+-----+------------------------+-----------------------+
only showing top 5 rows

In [747]:
ab = foreclosures.select("geometry").collect()
bd = restaurants_2.select("geolocation").collect()

In [748]:
type(ab[0][0].coordinates)

list

In [749]:
bd[0][0]

'35.9207272, -78.9573299'

In [750]:
foreclosures_2 = foreclosures.select(col("fields.geocode")[0].alias("lat1"), col("fields.geocode")[1].alias("lon1"))

In [751]:
foreclosures_2.show(truncate=False)

+----------+-----------+
|lat1      |lon1       |
+----------+-----------+
|36.0013755|-78.8922549|
|35.995797 |-78.895396 |
|35.995413 |-78.8950321|
|35.9957683|-78.8873774|
|35.993026 |-78.888343 |
|35.99217  |-78.888092 |
|35.9865799|-78.886681 |
|35.9815968|-78.8806365|
|35.992438 |-78.874621 |
|35.985903 |-78.869642 |
|35.97299  |-78.9041979|
|35.9666667|-78.9060606|
|35.965573 |-78.903483 |
|36.0367999|-78.8960511|
|35.972325 |-78.890249 |
|35.978108 |-78.889404 |
|35.976643 |-78.8692657|
|35.97492  |-78.868701 |
|35.979723 |-78.882454 |
|35.9803659|-78.8873413|
+----------+-----------+
only showing top 20 rows

In [752]:
restaurants_3 = restaurants_2.select(col("ID"), col("Premise_Name"), split(col("geolocation"), ",")[0].cast("double").alias("lat2"), 
            split(col("geolocation"), ",")[1].cast("double").alias("lon2"))

In [753]:
restaurants_3.show()

+------+--------------------+----------+-----------+
|    ID|        Premise_Name|      lat2|       lon2|
+------+--------------------+----------+-----------+
| 56060|    WEST 94TH ST PUB|35.9207272|-78.9573299|
| 58123|BROOKDALE DURHAM IFS|36.0467802|-78.8895483|
| 70266|       SMOOTHIE KING|35.9182655|-78.9593263|
| 97837|HAMPTON INN & SUITES|36.0183378|-78.9060312|
| 58349|KROGER R 381 MEAT...|35.9495321|-78.9211694|
| 58342|LEONE INTERNATION...|35.9852771| -78.898944|
| 57278|  PIZZA HUT DELIVERY|36.0586094|-78.9279599|
| 57190|       CHUBBYS TACOS|36.0094173|-78.9218729|
| 57585|              SUBWAY| 36.018111|-78.9102149|
|178137|DUKE UNIVERSITY W...| 36.001517|-78.9391734|
|181419|DICKEYS BARBECUE PIT|35.9550003|-78.9931015|
|179950|DUKE UNIVERSITY/T...|35.9950533|-78.9447645|
| 57048|                 KFC|36.0507859|-78.9044701|
|179953|DUKE UNIVERSITY/T...|35.9950533|-78.9447645|
|180462|TRIDENT PROVISION...|35.9953688|-78.9417564|
|188410|PURDUE PHARMA MAN...|36.1027227|-78.8482093|
|178997|FRESH DESIRES CAT...|35.9965963|-78.9158568|
|179334|             ZWELI'S|35.9965963|-78.9158568|
| 58147|CEDARS OF CHAPEL ...|35.9094306|-79.0070942|
|189532|              MEKONG|35.9205016|-78.8108783|
+------+--------------------+----------+-----------+
only showing top 20 rows

In [754]:
import math
from pyspark.sql.types import DoubleType
from haversine import haversine

def haversine_dist(lat1, lon1, lat2, lon2):
    
    print(lat1, lat2, lon1, lon2)
    
    lat1 = math.radians(lat1)
    lat2 = math.radians(lat2)
    lon1 = math.radians(lon1)
    lon2 = math.radians(lon2)
    
    R = 3959  # radius of the earth in miles
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    return R * c

In [755]:
from pyspark.sql.functions import udf, radians
distance_udf = udf(haversine_dist, DoubleType())

In [756]:
joined_df = foreclosures_2.crossJoin(restaurants_3)

In [757]:
joined_df.show()

+----------+-----------+------+--------------------+----------+-----------+
|      lat1|       lon1|    ID|        Premise_Name|      lat2|       lon2|
+----------+-----------+------+--------------------+----------+-----------+
|36.0013755|-78.8922549| 56060|    WEST 94TH ST PUB|35.9207272|-78.9573299|
|36.0013755|-78.8922549| 58123|BROOKDALE DURHAM IFS|36.0467802|-78.8895483|
|36.0013755|-78.8922549| 70266|       SMOOTHIE KING|35.9182655|-78.9593263|
|36.0013755|-78.8922549| 97837|HAMPTON INN & SUITES|36.0183378|-78.9060312|
|36.0013755|-78.8922549| 58349|KROGER R 381 MEAT...|35.9495321|-78.9211694|
|36.0013755|-78.8922549| 58342|LEONE INTERNATION...|35.9852771| -78.898944|
|36.0013755|-78.8922549| 57278|  PIZZA HUT DELIVERY|36.0586094|-78.9279599|
|36.0013755|-78.8922549| 57190|       CHUBBYS TACOS|36.0094173|-78.9218729|
|36.0013755|-78.8922549| 57585|              SUBWAY| 36.018111|-78.9102149|
|36.0013755|-78.8922549|178137|DUKE UNIVERSITY W...| 36.001517|-78.9391734|
|36.0013755|-78.8922549|181419|DICKEYS BARBECUE PIT|35.9550003|-78.9931015|
|36.0013755|-78.8922549|179950|DUKE UNIVERSITY/T...|35.9950533|-78.9447645|
|36.0013755|-78.8922549| 57048|                 KFC|36.0507859|-78.9044701|
|36.0013755|-78.8922549|179953|DUKE UNIVERSITY/T...|35.9950533|-78.9447645|
|36.0013755|-78.8922549|180462|TRIDENT PROVISION...|35.9953688|-78.9417564|
|36.0013755|-78.8922549|188410|PURDUE PHARMA MAN...|36.1027227|-78.8482093|
|36.0013755|-78.8922549|178997|FRESH DESIRES CAT...|35.9965963|-78.9158568|
|36.0013755|-78.8922549|179334|             ZWELI'S|35.9965963|-78.9158568|
|36.0013755|-78.8922549| 58147|CEDARS OF CHAPEL ...|35.9094306|-79.0070942|
|36.0013755|-78.8922549|189532|              MEKONG|35.9205016|-78.8108783|
+----------+-----------+------+--------------------+----------+-----------+
only showing top 20 rows

In [758]:
joined_df = joined_df.dropna(subset=['lat1', 'lon1', 'lat2', 'lon2'])

In [759]:
joined_df.count()

2114838

In [787]:
result_df = joined_df.withColumn("distance", distance_udf(col("lat1"), 
                                                          col("lon1"), 
                                                          col("lat2"), 
                                                          col("lon2")))

In [788]:
result_df.show(truncate=False)

+----------+-----------+------+------------------------------------------+----------+-----------+------------------+
|lat1      |lon1       |ID    |Premise_Name                              |lat2      |lon2       |distance          |
+----------+-----------+------+------------------------------------------+----------+-----------+------------------+
|36.0013755|-78.8922549|56060 |WEST 94TH ST PUB                          |35.9207272|-78.9573299|6.655847169459578 |
|36.0013755|-78.8922549|58123 |BROOKDALE DURHAM IFS                      |36.0467802|-78.8895483|3.1409991184235353|
|36.0013755|-78.8922549|70266 |SMOOTHIE KING                             |35.9182655|-78.9593263|6.859349085002129 |
|36.0013755|-78.8922549|97837 |HAMPTON INN & SUITES                      |36.0183378|-78.9060312|1.4023667770503383|
|36.0013755|-78.8922549|58349 |KROGER R 381 MEAT MARKET                  |35.9495321|-78.9211694|3.930237197275593 |
|36.0013755|-78.8922549|58342 |LEONE INTERNATIONAL GROCERY/MEAT MARKET   |35.9852771|-78.898944 |1.1735382285674743|
|36.0013755|-78.8922549|57278 |PIZZA HUT DELIVERY                        |36.0586094|-78.9279599|4.4295176792183755|
|36.0013755|-78.8922549|57190 |CHUBBYS TACOS                             |36.0094173|-78.9218729|1.7463295863153325|
|36.0013755|-78.8922549|57585 |SUBWAY                                    |36.018111 |-78.9102149|1.5313248566855535|
|36.0013755|-78.8922549|178137|DUKE UNIVERSITY WEST UNION FARMSTEAD      |36.001517 |-78.9391734|2.622766825093706 |
|36.0013755|-78.8922549|181419|DICKEYS BARBECUE PIT                      |35.9550003|-78.9931015|6.485873013986379 |
|36.0013755|-78.8922549|179950|DUKE UNIVERSITY/TRIDENT PROVISIONS LEVEL 1|35.9950533|-78.9447645|2.967739861384455 |
|36.0013755|-78.8922549|57048 |KFC                                       |36.0507859|-78.9044701|3.4817113346319997|
|36.0013755|-78.8922549|179953|DUKE UNIVERSITY/TRIDENT PROVISIONS LEVEL 3|35.9950533|-78.9447645|2.967739861384455 |
|36.0013755|-78.8922549|180462|TRIDENT PROVISIONS  4TH FLOOR PANTRY      |35.9953688|-78.9417564|2.7981990476342333|
|36.0013755|-78.8922549|188410|PURDUE PHARMA MANUFACTURING LP            |36.1027227|-78.8482093|7.422551772896147 |
|36.0013755|-78.8922549|178997|FRESH DESIRES CATERING LLC                |35.9965963|-78.9158568|1.3600888211587465|
|36.0013755|-78.8922549|179334|ZWELI'S                                   |35.9965963|-78.9158568|1.3600888211587465|
|36.0013755|-78.8922549|58147 |CEDARS OF CHAPEL HILL IFS                 |35.9094306|-79.0070942|9.034445059826856 |
|36.0013755|-78.8922549|189532|MEKONG                                    |35.9205016|-78.8108783|7.207090929721104 |
+----------+-----------+------+------------------------------------------+----------+-----------+------------------+
only showing top 20 rows

In [789]:
result_df = result_df.filter(col("distance")<=10.0)

In [790]:
result_df.show()

+----------+-----------+------+--------------------+----------+-----------+------------------+
|      lat1|       lon1|    ID|        Premise_Name|      lat2|       lon2|          distance|
+----------+-----------+------+--------------------+----------+-----------+------------------+
|36.0013755|-78.8922549| 56060|    WEST 94TH ST PUB|35.9207272|-78.9573299| 6.655847169459578|
|36.0013755|-78.8922549| 58123|BROOKDALE DURHAM IFS|36.0467802|-78.8895483|3.1409991184235353|
|36.0013755|-78.8922549| 70266|       SMOOTHIE KING|35.9182655|-78.9593263| 6.859349085002129|
|36.0013755|-78.8922549| 97837|HAMPTON INN & SUITES|36.0183378|-78.9060312|1.4023667770503383|
|36.0013755|-78.8922549| 58349|KROGER R 381 MEAT...|35.9495321|-78.9211694| 3.930237197275593|
|36.0013755|-78.8922549| 58342|LEONE INTERNATION...|35.9852771| -78.898944|1.1735382285674743|
|36.0013755|-78.8922549| 57278|  PIZZA HUT DELIVERY|36.0586094|-78.9279599|4.4295176792183755|
|36.0013755|-78.8922549| 57190|       CHUBBYS TACOS|36.0094173|-78.9218729|1.7463295863153325|
|36.0013755|-78.8922549| 57585|              SUBWAY| 36.018111|-78.9102149|1.5313248566855535|
|36.0013755|-78.8922549|178137|DUKE UNIVERSITY W...| 36.001517|-78.9391734| 2.622766825093706|
|36.0013755|-78.8922549|181419|DICKEYS BARBECUE PIT|35.9550003|-78.9931015| 6.485873013986379|
|36.0013755|-78.8922549|179950|DUKE UNIVERSITY/T...|35.9950533|-78.9447645| 2.967739861384455|
|36.0013755|-78.8922549| 57048|                 KFC|36.0507859|-78.9044701|3.4817113346319997|
|36.0013755|-78.8922549|179953|DUKE UNIVERSITY/T...|35.9950533|-78.9447645| 2.967739861384455|
|36.0013755|-78.8922549|180462|TRIDENT PROVISION...|35.9953688|-78.9417564|2.7981990476342333|
|36.0013755|-78.8922549|188410|PURDUE PHARMA MAN...|36.1027227|-78.8482093| 7.422551772896147|
|36.0013755|-78.8922549|178997|FRESH DESIRES CAT...|35.9965963|-78.9158568|1.3600888211587465|
|36.0013755|-78.8922549|179334|             ZWELI'S|35.9965963|-78.9158568|1.3600888211587465|
|36.0013755|-78.8922549| 58147|CEDARS OF CHAPEL ...|35.9094306|-79.0070942| 9.034445059826856|
|36.0013755|-78.8922549|189532|              MEKONG|35.9205016|-78.8108783| 7.207090929721104|
+----------+-----------+------+--------------------+----------+-----------+------------------+
only showing top 20 rows

### Answer to Question 5

In [791]:
result_df = result_df.groupBy("ID", "Premise_Name").count()
result_df.show()

+------+--------------------+-----+
|    ID|        Premise_Name|count|
+------+--------------------+-----+
|152896|BLUE RIDGE DELI A...| 1827|
|106532|    BURGER KING 9653| 1691|
| 87764|DURHAM CONVENTION...| 1912|
|178383|SWEETIES SOUTHERN...| 1905|
| 56150|HOME PLATE RESTAU...| 1837|
| 98198|LA REGIA DOMINICA...| 1838|
| 58124|CARVER LIVING CEN...| 1881|
| 58126|ENO POINTE ASSIST...| 1745|
| 56102|TOP'S CHINA RESTA...| 1904|
| 55702|SHERATON IMPERIAL...| 1530|
| 56677|         CAPTAIN D S| 1718|
| 70783|RUTH'S CHRIS STEA...| 1654|
| 60441|   NOODLES & COMPANY| 1904|
| 56752|             Q SHACK| 1900|
| 58066|DURHAM SCHOOL OF ...| 1905|
| 55519| DEVINE'S RESTAURANT| 1909|
|174146|          BEYU CAFFE| 1912|
| 80343|HOMEWOOD SUITES R...| 1597|
| 58138|KINDRED HEALTH CA...| 1874|
|168435|ALOFT DURHAM DOWN...| 1912|
+------+--------------------+-----+
only showing top 20 rows

In [792]:
result_df = result_df.withColumnRenamed("count", "Foreclosures within 10 miles")

In [793]:
result_df.show(truncate=False)

+------+------------------------------------------+----------------------------+
|ID    |Premise_Name                              |Foreclosures within 10 miles|
+------+------------------------------------------+----------------------------+
|152896|BLUE RIDGE DELI AND CAFE                  |1827                        |
|106532|BURGER KING 9653                          |1691                        |
|87764 |DURHAM CONVENTION CENTER                  |1912                        |
|178383|SWEETIES SOUTHERN &VEGAN CATERING         |1905                        |
|56150 |HOME PLATE RESTAURANT                     |1837                        |
|98198 |LA REGIA DOMINICAN MEXICAN REST & GRILL 55|1838                        |
|58124 |CARVER LIVING CENTER IFS                  |1881                        |
|58126 |ENO POINTE ASSISTED LIVING IFS            |1745                        |
|56102 |TOP'S CHINA RESTAURANT                    |1904                        |
|55702 |SHERATON IMPERIAL HOTEL                   |1530                        |
|56677 |CAPTAIN D S                               |1718                        |
|70783 |RUTH'S CHRIS STEAK HOUSE                  |1654                        |
|60441 |NOODLES & COMPANY                         |1904                        |
|56752 |Q SHACK                                   |1900                        |
|58066 |DURHAM SCHOOL OF THE ARTS                 |1905                        |
|55519 |DEVINE'S RESTAURANT                       |1909                        |
|174146|BEYU CAFFE                                |1912                        |
|80343 |HOMEWOOD SUITES RDU FOOD SERVICE          |1597                        |
|58138 |KINDRED HEALTH CARE-ROSE MANOR FS         |1874                        |
|168435|ALOFT DURHAM DOWNTOWN FOOD SERVICE        |1912                        |
+------+------------------------------------------+----------------------------+
only showing top 20 rows