### Creating MongoDB Connection and Importing Dataset

In [42]:
from pymongo import MongoClient
client = MongoClient('localhost',27017) ## or MongoClient("localhost:27")
db = client.bigdata

In [43]:
import pandas as pd
df = pd.read_csv('/Users/Tiyas/Desktop/Big Data/HW2_td2355/books.csv',skip_blank_lines=True)

In [44]:
df

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,dummy
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press,NaN
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books,NaN
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books,NaN
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9780060878825,eng,434,769,139,2/27/2007,Ecco,NaN
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros,NaN

### Cleaning Data

In [45]:
mask = df['dummy'].notnull()==True
mask

0        False
1        False
2        False
3        False
4        False
         ...
11122    False
11123    False
11124    False
11125    False
11126    False
Name: dummy, Length: 11127, dtype: bool

In [46]:
bad_lines = df.where(mask).dropna()
bad_lines

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,dummy
3348,12224.0,Streetcar Suburbs: The Process of Growth in Bo...,Sam Bass Warner,Jr./Sam B. Warner,3.58,674842111,9780674842113,en-US,236.0,61.0,6,4/20/2004,Harvard University Press
4702,16914.0,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net,one of the founding members of this Tolkien we...,3.58,1593600119,9781593600112,eng,400.0,26.0,4,4/6/2004,Cold Spring Press
5877,22128.0,Patriots (The Coming Collapse),James Wesley,Rawles,3.63,156384155X,9781563841552,eng,342.0,38.0,4,1/15/1999,Huntington House Publishers
8979,34889.0,Brown's Star Atlas: Showing All The Bright Sta...,Brown,Son & Ferguson,0,851742718,9780851742717,eng,49.0,0.0,0,5/1/1977,Brown Son & Ferguson Ltd.

In [47]:
df.drop(labels=[3348,4702,5877,8979], axis=0, inplace=True)

In [48]:
mask = df['dummy'].notnull()==True
bad_lines = df.where(mask).dropna()
bad_lines

Empty DataFrame
Columns: [bookID, title, authors, average_rating, isbn, isbn13, language_code, num_pages, ratings_count, text_reviews_count, publication_date, publisher, dummy]
Index: []

In [49]:
#checking for null rows
df.drop(labels=['dummy'],axis=1, inplace=True)
df2 = df[df.isna().any(axis=1)]

In [50]:
df2

Empty DataFrame
Columns: [bookID, title, authors, average_rating, isbn, isbn13, language_code, num_pages, ratings_count, text_reviews_count, publication_date, publisher]
Index: []

### Fixing wrong dates

In [52]:
dfx = pd.DataFrame(pd.to_datetime(df['publication_date'], errors='coerce'))
dfx

      publication_date
0           2006-09-16
1           2004-09-01
2           2003-11-01
3           2004-05-01
4           2004-09-13
...                ...
11122       2004-12-21
11123       1988-12-01
11124       1993-08-01
11125       2007-02-27
11126       2006-05-28

[11123 rows x 1 columns]

In [53]:
dfx_2 = dfx[dfx.isna().any(axis=1)]
dfx_2

      publication_date
8180               NaT
11098              NaT

In [54]:
df['publication_date'][8180]

'11/31/2000'

In [55]:
df['publication_date'][8180] = '12/1/2000'

/var/folders/5d/44kcj5_n491cwlgxyqtghq940000gn/T/ipykernel_59744/2593845872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['publication_date'][8180] = '12/1/2000'

In [56]:
df['publication_date'][11098]

'6/31/1982'

In [57]:
df['publication_date'][11098] = '7/1/1982'

/var/folders/5d/44kcj5_n491cwlgxyqtghq940000gn/T/ipykernel_59744/3083786699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['publication_date'][11098] = '7/1/1982'

In [58]:
df['publication_date'] = pd.to_datetime(df['publication_date'])

In [60]:
df.rename(columns = {'  num_pages':'num_pages'}, inplace = True) ##remove spaces in column name

### Creating new dataframe after splitting authors

In [61]:
#splitting multiple authors for the same book into different rows and creating a new dataframe
df_split_authors = pd.DataFrame(columns=['bookID','title','author','average_rating','isbn','isbn13','language_code','num_pages'
                               ,'ratings_count','text_reviews_count','publication_date','publisher'])
indx = 0
for index, row in df.iterrows():
    authors = row['authors'].split("/")
    for a in authors:
        df_split_authors.loc[indx] = pd.Series({
          'bookID':row['bookID'],
          'title':row['title'],
          'author': str(a),
          'average_rating': row['average_rating'],
          'isbn': row['isbn13'],
          'isbn13': row['isbn'],
          'language_code': row['language_code'],
          'num_pages': row['num_pages'],
          'ratings_count': row['ratings_count'],
          'text_reviews_count': row['text_reviews_count'],
          'publication_date': row['publication_date'],
          'publisher': row['publisher']
        })
        indx = indx + 1

In [62]:
df_split_authors

,bookID,title,author,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.57,9780439785969,439785960,eng,652,2095690,27591,2006-09-16,Scholastic Inc.
1,1,Harry Potter and the Half-Blood Prince (Harry ...,Mary GrandPré,4.57,9780439785969,439785960,eng,652,2095690,27591,2006-09-16,Scholastic Inc.
2,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,9780439358071,439358078,eng,870,2153167,29221,2004-09-01,Scholastic Inc.
3,2,Harry Potter and the Order of the Phoenix (Har...,Mary GrandPré,4.49,9780439358071,439358078,eng,870,2153167,29221,2004-09-01,Scholastic Inc.
4,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,9780439554893,439554896,eng,352,6333,244,2003-11-01,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45631,Expelled from Eden: A William T. Vollmann Reader,Michael Hemmingson,4.06,9781560254416,1560254416,eng,512,156,20,2004-12-21,Da Capo Press
19233,45633,You Bright and Risen Angels,William T. Vollmann,4.08,9780140110876,140110879,eng,635,783,56,1988-12-01,Penguin Books
19234,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,9780140131963,140131965,eng,415,820,95,1993-08-01,Penguin Books
19235,45639,Poor People,William T. Vollmann,3.72,9780060878825,60878827,eng,434,769,139,2007-02-27,Ecco
19236,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,9788497646987,8497646983,spa,272,113,12,2006-05-28,Edimat Libros

### Creating a MongoDb collection

In [63]:
collection = db.authors

In [64]:
print(db.collection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'bigdata'), 'collection')

In [65]:
collection.drop()
collection.find_one()

### Adding authors document records with author name and list of books by the author

In [66]:
for index, row in df_split_authors.iterrows():
    myquery = { 'author': str(row['author']) }
    mydoc = list(collection.find(myquery))
    if(len(mydoc) == 0):
        post = {'author': row['author'], 'books': [row['title']]}
        collection.insert_one(post)
    else:
        newbooks = mydoc[0]['books']
        newbooks.append(row['title'])
        newbooks = list(set(newbooks)) #needed because some books under author names are repeatative
        newvalues = { "$set": { "books": newbooks } }
        collection.update_one(myquery, newvalues)

### Creating books document records with book title and isbn number

In [67]:
for index, row in df.iterrows():
    myquery = { 'book': str(row['title']) }
    mydoc = list(collection.find(myquery))
    if(len(mydoc) == 0):
        post = {'book': row['title'], 'isbn': row['isbn13']}
        collection.insert_one(post)

In [68]:
collection.find_one({'book': '混血王子的背叛 (哈利波特  #6)'})

{'_id': ObjectId('64128d7fb895cfc838e40e46'),
 'book': '混血王子的背叛 (哈利波特  #6)',
 'isbn': '9789573321743'}

In [69]:
collection.find_one({'author': 'J.K. Rowling'})

{'_id': ObjectId('64128d2db895cfc838e3e40a'),
 'author': 'J.K. Rowling',
 'books': ["Harry Potter and the Philosopher's Stone (Harry Potter  #1)",
  'Harrius Potter et Camera Secretorum',
  'Harry Potter y la Orden del Fénix (Harry Potter  #5)',
  'Harry Potter and the Chamber of Secrets (Harry Potter  #2)',
  'Harry Potter Boxed Set  Books 1-5 (Harry Potter  #1-5)',
  'Harry Potter und der Gefangene von Askaban (Harry Potter  #3)',
  'Harry Potter Y La Piedra Filosofal (Harry Potter  #1)',
  'Harry Potter y el misterio del príncipe (Harry Potter  #6)',
  'Harry Potter Collection (Harry Potter  #1-6)',
  'Harry Potter and the Order of the Phoenix (Harry Potter  #5)',
  'Harrius Potter et Philosophi Lapis',
  'Harry Potter and the Prisoner of Azkaban (Harry Potter  #3)',
  'Harry Potter and the Goblet of Fire (Harry Potter  #4)',
  '混血王子的背叛 (哈利波特  #6)',
  '火盃的考驗 (哈利波特  #4)',
  'Fantastic Beasts and Where to Find Them (Hogwarts Library)',
  'Harry Potter ve Sırlar Odası (Harry Potter  #2)',
  'Harry Potter und die Kammer des Schreckens (Harry Potter  #2)',
  "Harry Potter and the Sorcerer's Stone (Harry Potter  #1)",
  'Harry Potter and the Half-Blood Prince (Harry Potter  #6)',
  'Harry Potter Schoolbooks Box Set: Two Classic Books from the Library of Hogwarts School of Witchcraft and Wizardry']}

In [70]:
collection.find_one({'author': 'Stephen King'})

{'_id': ObjectId('64128d34b895cfc838e3e959'),
 'author': 'Stephen King',
 'books': ['El talismán',
  'The Colorado Kid',
  'The Body',
  'Desperation / The Regulators: Box Set',
  'The Green Mile',
  'Thinner',
  'The Girl Who Loved Tom Gordon',
  'Ojos de fuego',
  'The Monkey',
  'Territoires (Le talisman des territoires  #2)',
  'Baseball: a Literary Anthology',
  'El retrato de Rose Madder',
  'Dreamcatcher',
  'Faithful: Two Diehard Boston Red Sox Fans Chronicle the Historic 2004 Season',
  'La Torre Oscura VII - Tomo 2 of 2 (La Torre Oscura  #7)',
  'Danse Macabre',
  'On Writing: A Memoir',
  'The Dark Descent',
  'Stationary Bike',
  'Storm of the Century: An Original Screenplay',
  'From a Buick 8',
  'The Man in the Black Suit: 4 Dark Tales',
  'Cujo',
  'The Dark Half',
  'The Bachman Books',
  'Misery',
  'Night Shift',
  'Christine',
  'Bare Bones: Conversations on Terror with Stephen King',
  'Black House (The Talisman  #2)',
  "Everything's Eventual: 14 Dark Tales",
  'Different Seasons',
  'The Gunslinger (The Dark Tower #1)',
  'Creepshow',
  'Insomnia',
  'The Shawshank Redemption: The Shooting Script',
  "World's End (The Sandman  #8)",
  'Wolves of the Calla (The Dark Tower  #5)',
  'Blood and Smoke',
  'Now and on Earth',
  'Dark Visions',
  'The Talisman',
  'Carretera maldita',
  'The Stand: Das letzte Gefecht',
  'The Waste Lands (The Dark Tower #3)',
  'Four Past Midnight: Featuring "The Langoliers"',
  'El umbral de la noche',
  'Gray Matter and Other Stories from Night Shift',
  "Gerald's Game",
  "LT's Theory of Pets",
  "Lisey's Story",
  'The Bachman Books: Four Early Novels by Stephen King',
  "Salem's Lot",
  'The Medusa in the Shield',
  'Carrie',
  'The Waste Lands (The Dark Tower  #3)',
  'Rabia',
  "El misterio de Salem's Lot",
  'Carrie (Biblioteca de Stephen King. 102  8)',
  'La danza de la muerte',
  'The Mist',
  'The Gunslinger',
  'The Dark Tower (The Dark Tower #7)',
  'A Fabulous  Formless Darkness',
  'The Secretary of Dreams  Volume One',
  'La Milla Verde',
  'Legends',
  'Four Past Midnight',
  'The Shining',
  'The Eyes of the Dragon',
  'Riding the Bullet',
  'Skeleton Crew',
  'Silver Bullet',
  'Pet Sematary',
  'Storm of the Century',
  'Nightmare At 20 000 Feet',
  'The Long Walk',
  'The Drawing of the Three (The Dark Tower  #2)',
  'The Stephen King Collection: Stories from Night Shift',
  "Carrie / 'Salem's Lot / The Shining"]}

In [71]:
collection.find_one({'author': 'Gabriel García Márquez'})

{'_id': ObjectId('64128d2db895cfc838e3e4a1'),
 'author': 'Gabriel García Márquez',
 'books': ["A Study Guide to Gabriel Garcia Marquez' One Hundred Years of Solitude",
  'Los funerales de la Mamá Grande',
  'Me Alquilo Para Soñar (Taller de Guión  #62)',
  'Love in the Time of Cholera',
  'Cien años de soledad',
  'Noticia de un secuestro',
  'Living to Tell the Tale',
  'The Autumn of the Patriarch',
  'Strange Pilgrims',
  'Chronik eines angekündigten Todes',
  'Chronicle of a Death Foretold',
  'Memoria de mis putas tristes',
  'The General in His Labyrinth',
  'El coronel no tiene quien le escriba',
  'Collected Novellas',
  'Del amor y otros demonios',
  'Crónica de una muerte anunciada',
  'Relato de un náufrago',
  'Doce cuentos peregrinos',
  'La increíble y triste historia de la cándida Eréndira y de su abuela desalmada',
  'Collected Stories',
  'One Hundred Years Of Solitude',
  'Ojos de perro azul',
  'Of Love and Other Demons',
  'The Story of a Shipwrecked Sailor',
  'El amor en los tiempos del cólera',
  'One Hundred Years of Solitude',
  'Relato de Um Náufrago']}

### Adding bio to author documents from the openlibrary api

In [72]:
import requests
def add_records(author):
    api_url = "https://openlibrary.org/search/authors.json?q=" + author
    response = requests.get(api_url)
    bios = ""
    total_source_records = []
    for d in response.json()['docs']:
        url = "https://openlibrary.org/authors/" + d['key'] + ".json"
        resp = requests.get(url)
        if('bio' in resp.json()):
            if isinstance(resp.json()['bio'],dict):
                bios+=resp.json()['bio']['value']
            else:
                bios+=resp.json()['bio'] 
    query = {'author': author}
    bi = { "$set": { "bio": bios } }
    collection.update_one(query, bi)

In [73]:
add_records("J.K. Rowling")

In [74]:
add_records("Gabriel García Márquez")

In [75]:
add_records("Stephen King")

In [76]:
collection.find_one({'author': 'Gabriel García Márquez'})

{'_id': ObjectId('64128d2db895cfc838e3e4a1'),
 'author': 'Gabriel García Márquez',
 'books': ["A Study Guide to Gabriel Garcia Marquez' One Hundred Years of Solitude",
  'Los funerales de la Mamá Grande',
  'Me Alquilo Para Soñar (Taller de Guión  #62)',
  'Love in the Time of Cholera',
  'Cien años de soledad',
  'Noticia de un secuestro',
  'Living to Tell the Tale',
  'The Autumn of the Patriarch',
  'Strange Pilgrims',
  'Chronik eines angekündigten Todes',
  'Chronicle of a Death Foretold',
  'Memoria de mis putas tristes',
  'The General in His Labyrinth',
  'El coronel no tiene quien le escriba',
  'Collected Novellas',
  'Del amor y otros demonios',
  'Crónica de una muerte anunciada',
  'Relato de un náufrago',
  'Doce cuentos peregrinos',
  'La increíble y triste historia de la cándida Eréndira y de su abuela desalmada',
  'Collected Stories',
  'One Hundred Years Of Solitude',
  'Ojos de perro azul',
  'Of Love and Other Demons',
  'The Story of a Shipwrecked Sailor',
  'El amor en los tiempos del cólera',
  'One Hundred Years of Solitude',
  'Relato de Um Náufrago'],
 'bio': 'Gabriel García Márquez is a Colombian novelist, short-story writer, screenwriter and journalist. García Márquez, affectionately known as "Gabo" throughout Latin America, is considered one of the most significant authors of the 20th century. In 1982, he was awarded the Nobel Prize in Literature. He pursued a self-directed education that resulted in his leaving law school for a career in journalism. From early on, he showed no inhibitions in his criticism of Colombian and foreign politics. In 1958, he married Mercedes Barcha; they have two sons, Rodrigo and Gonzalo.\r\n\r\nHe started as a journalist, and has written many acclaimed non-fiction works and short stories, but is best-known for his novels, such as One Hundred Years of Solitude (1967) and Love in the Time of Cholera (1985). His works have achieved significant critical acclaim and widespread commercial success, most notably for popularizing a literary style labeled as magical realism, which uses magical elements and events in otherwise ordinary and realistic situations. Some of his works are set in a fictional village called Macondo, and most of them express the theme of solitude. [1]\r\n\r\n [1]: http://en.wikipedia.org/wiki/Gabriel_Garc%C3%ADa_M%C3%A1rquez\r\n\r\nSource and more information: http://en.wikipedia.org/wiki/Gabriel_García_Márquez'}

### Adding amazon links to books documents from openlibary books api
#### Please note here that the source_records under authors from the authors api wasn't proper, the amazon id's did not align to any book names for most source_records, hence I have used the books api to fetch amazon ids corresponding to the book names under the three authors present in our dataset

In [77]:
import json
import re
def add_links(author):
    res = collection.find_one({'author': author})
    for b in res['books']:
        bb = collection.find_one({'book': b})
        api_url = "https://openlibrary.org/isbn/" + bb['isbn'] + ".json"
        response = requests.get(api_url)
        if 'source_records' in json.loads(response.text):
            records = json.loads(response.text)['source_records']
            r = re.compile("^amazon:\d{10}$")
            link = list(filter(r.match, records))
            query = {'book': b}
            if(len(link)==0):
                bi = { "$set": { "amazon": "" } }
            else:
                bi = { "$set": { "amazon": link[0][7:] } }
            collection.update_one(query, bi)

In [78]:
add_links('Gabriel García Márquez')

In [79]:
add_links('J.K. Rowling')

In [80]:
add_links('Stephen King')

### Creating flask app for the microsite

In [85]:
from flask import Flask, request, render_template
app = Flask("flask_demo")

@app.route('/')
def index():
    return render_template('cards.html', result=["J.K. Rowling", "Stephen King", "Gabriel García Márquez"])

@app.route('/author')
def details():
    name = request.args.get('name')
    res = collection.find_one({'author': name})
    links = []
    for b in res['books']:
        bb = collection.find_one({'book': b})
        links.append(bb)
    data = {'author': res, 'links': links}    
    return render_template('authors.html', result=data)

In [87]:
app.run(host='localhost', port=5001)

 * Serving Flask app "flask_demo" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://localhost:5001/ (Press CTRL+C to quit)
127.0.0.1 - - [15/Mar/2023 23:51:43] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [15/Mar/2023 23:51:45] "GET /author?name=J.K.%20Rowling HTTP/1.1" 200 -

### The books in the bio pages of each author does not all have links to amazon. On hovering over the names of the books, the ones with links are clickable elements.